nav{
  background:linear-gradient(90deg, blueviolet, lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 50px;
  margin-bottom:20px;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}
.list-item{
  color: lightgreen;
  text-decoration: none;
}
.list-item:hover{
  color: yellow;
}
.count{
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
  color: white;
  background-color: blueviolet;
  margin: 10px;
  border-radius: 4px;
  border: none;
}
button.best{
  background-color: lightgreen;
  color: rgb(40, 28, 28);
}
button.wrong{
  background-color: red;
  color: white;;
}
button.correct{
  background-color: yellow;
  color: black;
}
.counter{
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  width: 100%;
}

.commentBox{
  background-color: rgb(207, 206, 206);
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.post{
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
  margin-right: auto;
  margin-left: auto;
}
.post >.user{
  color: blue;
  font-style: italic;font-weight: bold;
  text-align: left;
}
.post >.content{
  text-align: justify;
}
.comment{
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.comment >.user{
  text-align: left;
  padding: 10px;
  color: blue;
}
.comment >.content{
  text-align: justify;
  padding: 10px;
}
.user_name{
  width: 90%;
}
.user_comment{
  width: 90%;
}
